<div class="card-header" style="background-color:#d3d9df;">
  <ul class="nav nav-pills nav-fill" role="tablist" style="background-color:#d3d9df;">
    <li class="nav-item">
      <a class="nav-link active" id="material-tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="false">Struktur Produk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="proses-tab" data-toggle="tab" href="#proses" role="tab" aria-controls="proses" aria-selected="true">Model Proses</a>
    </li>
  </ul>
</div>