<div class="card-header" style="background-color:#d3d9df;">
  <ul class="nav nav-pills nav-fill" role="tablist" style="background-color:#d3d9df;">
    <li class="nav-item">
      <a class="nav-link active" id="lapak-tab" data-toggle="tab" href="#lapak" role="tab" aria-controls="lapak" aria-selected="false">Lapak Kerja</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="grup-tab" data-toggle="tab" href="#grup" role="tab" aria-controls="grup" aria-selected="true">Grup Kerja</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="peralatan-tab" data-toggle="tab" href="#peralatan" role="tab" aria-controls="peralatan" aria-selected="false">Peralatan Kerja</a>
    </li>
  </ul>
</div>