{% extends 'home.html' %}
{% load static %}

{% block header %}

<h1>{{heading}}</h1>
<p class="lead">{{subheading}}</p>

{% endblock header %}

{% block content %}
    <div class="container bg-white text-dark shadow">
        <div class="row" style='height:100px'>
                <h5 center>Luster Hiroshi Pramushinto - 13117050 - Teknik Mesin ITB</h5>
                <h6>Luster Hiroshi Pramushinto adalah seorang mahasiswa jurusan teknik mesin di perguruan tinggi Instittut Teknologi Bandung angkatan 2017.</h6>
                <br>
                Website ini dibuat oleh Luster pada saat ia menyelesaikan tugas akhirnya di laboratorium Teknik Prdoduksi.</h6>
        </div>
    </div>
{% endblock content %}

{% block content2 %}


{% endblock content2 %}

{% block content3 %}
    <div class="container bg-white text-dark shadow">
        <div class="row" style='height:350px'>
            
        </div>
    </div>
{% endblock content3 %}